#footer {
    position: fixed;
    height: 60px;
    bottom: 0; 
    margin-top:-50px;
    width: 100%;  
    color: #ffffff;
    background-color: #0b0533; 
    z-index: 1000;
}

#header > nav {
    background-color: #0b0533!important;
}

.navbar-light .navbar-nav .nav-link, 
.navbar-light .navbar-brand{
    color: #ffffff!important;
}

button.navbar-toggler {
    background-color: #ffffff!important;
}
